h1:after {
    content: "#";
}

h1:after {
    content: "♥";
}

h1::before {
    display: inline-block;
    content: '';
    height: 0.5em;
    width: 0.5em;
    background-image: url(arrow.gif);
    background-size: 0.5em 0.5em;


}


